In [32]:
import re
import pandas as pd
import numpy as np
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
nltk.download('punkt')

y_book_array = ["HP1", "HP2", "HP3", "HP4"]


# Function to read and preprocess text
def read_and_preprocess(files):
    corpus = []
    book_tokens = []
    for file in files:
        with open(file, 'r') as f:
            text = f.read().lower()
            # Remove punctuation
            text = re.sub(r'[^\w\s]', '', text)
            # Tokenize
            tokens = word_tokenize(text)
            corpus.extend(tokens)
        book_tokens.append(tokens)
    return corpus, book_tokens

# Specify the files for the seven books
files = ['HarryPotter/HP1.txt', 'HarryPotter/HP2.txt', 'HarryPotter/HP3.txt', 'HarryPotter/HP4.txt']

# Preprocess the text
# tokens is now a 2d array with each sub array being the tokens for each book
corpus, tokens = read_and_preprocess(files)

[nltk_data] Downloading package punkt to /home/zachs/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [33]:
def extract_ngrams_from_tokens(tokens, book,  n):
    # Step 1: Initialize an empty list to store N-grams
    n_grams = []
    y_array = []
    # Step 2: Generate N-grams
    for i in range(len(tokens) - n + 1):
        n_gram = ' '.join(tokens[i:i+n])
        n_grams.append(n_gram)
        y_array.append(book)
    return n_grams, y_array

for i in range(len(files)):
    if i ==0:
        trigrams, trigrams_y_array = extract_ngrams_from_tokens(tokens[i],y_book_array[i], 3)
        x_y_trigrams = pd.DataFrame({'trigrams': trigrams, 'book': trigrams_y_array})
        print(x_y_trigrams)
    else:
        trigrams, trigrams_y_array = extract_ngrams_from_tokens(tokens[i],y_book_array[i], 3)
        book_x_y_trigrams = pd.DataFrame({"trigrams": trigrams, "book": trigrams_y_array})
        x_y_trigrams = pd.concat([x_y_trigrams, book_x_y_trigrams], ignore_index=True)
    
display(x_y_trigrams)

                 trigrams book
0              mr and mrs  HP1
1         and mrs dursley  HP1
2          mrs dursley of  HP1
3       dursley of number  HP1
4          of number four  HP1
...                   ...  ...
77636          lot of fun  HP1
77637         of fun with  HP1
77638     fun with dudley  HP1
77639    with dudley this  HP1
77640  dudley this summer  HP1

[77641 rows x 2 columns]

                 trigrams book
0              mr and mrs  HP1
1         and mrs dursley  HP1
2          mrs dursley of  HP1
3       dursley of number  HP1
4          of number four  HP1
...                   ...  ...
465653       have to meet  HP4
465654         to meet it  HP4
465655       meet it when  HP4
465656         it when it  HP4
465657        when it did  HP4

[465658 rows x 2 columns]

In [40]:

X_train_val, X_test, y_train_val, y_test = train_test_split(x_y_trigrams["trigrams"], x_y_trigrams["book"], test_size=0.2, random_state=42)

X_train, X_val, y_train, y_val = train_test_split(X_train_val, y_train_val, test_size=0.25, random_state=42)

381739          like it harry
455631       harry potter and
282986           of his trunk
87265      brown eyes staring
189433            say no dont
                 ...
354343          the village i
293561          member of the
70730        knights horse at
390924              o the way
354577    finally reached the
Name: trigrams, Length: 279394, dtype: object
381739    HP4
455631    HP4
282986    HP4
87265     HP2
189433    HP3
         ...
354343    HP4
293561    HP4
70730     HP1
390924    HP4
354577    HP4
Name: book, Length: 279394, dtype: object